.main-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    
}
nav {
    background-color: #3e44eb;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
*{
    margin: 0%;

}
nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px ;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background-color: #787ce9;
    border-radius: 4px;
    transform: scale(1.05);
}
.box {
    background-color: #3e44eb;
    color: white;
    margin: 10px;
    padding: 20px;
    width: 100vw;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}